{
  "plugins": ["jsx-a11y", "@next/next", "unused-imports"],
  "extends": ["next", "plugin:jsx-a11y/recommended", "prettier"],
  "rules": {
    "@next/next/no-img-element": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "no-unused-vars": "off",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
